body{
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    color: #697a79;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.panel{
    max-width: 900px;
    width: 90vw;
    background: white;
    border-radius: 20px;
    box-shadow: 0 2px 5px  30px -50px #697a79;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    padding: 2rem 1rem;
}
.panel h2{
    font-size: 1.9rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.panel_half{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    padding: 2rem 1rem;
}
.panel_half.half-first{
    flex-grow: 2;
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.panel .links a{
    display: inline-block;
    font-weight: 900;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid currentColor
}
.panel a{
    text-decoration: none;
    margin: 1rem 1rem;
}
.panel p{
    margin: 1rem 0;
    max-width: 300px;
    width: 100%;
    font-size: 0.95rem;
    line-height: 1.5;
    font-weight: 300;
    text-align: center;
}
.panel form{
    display: flex;
    flex-direction: column;
}
.panel form input{
    margin: 0.5rem 0;
    width: 300px ;
    padding: 1rem 0.75rem;
    background: var(--bg);
    border: none;
    color: inherit;
    font-family: inherit;
}