.glav{
    text-align: center;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
.image{
    width: 100px;
    height: 100px;
}

th{
    border: 1px solid black;
    height: 90px;
}
td{
    text-align: center;
    border: 1px solid black; 
    height: 90px;
}
h1:hover{
    color: wheat;
}
body{
    font-family: 'Oswald', sans-serif;
    background: rgb(230,241,184);
    background: linear-gradient(90deg, rgba(230,241,184,1) 39%, rgba(216,220,246,1) 52%, rgba(193,242,201,1) 76%);
}
td:hover{
    background: rgb(247,180,191);
    background: linear-gradient(90deg, rgba(247,180,191,1) 39%, rgba(240,226,214,1) 76%);
    color: white;
}
th:hover{
    color: grey;
}